/Trabalho_1/ine5424/.idea
/Trabalho_1/ine5424/.settings
/Trabalho_1/ine5424/cmake-build-debug
/Trabalho_1/ine5424/img
/Trabalho_1/ine5424/.cproject
/Trabalho_1/ine5424/.project
/Trabalho_1/ine5424/CMakeLists.txt
*.o